body{
    font-family: 'Oswald', sans-serif;
  }
@media screen and (max-width :517px){
    .nav-link , .btn{
        font-size: smaller;
    }
}
@media screen and (max-width :434px){
    .nav-link , .btn{
        font-size: x-small;
    }
}
.container-fluid{
    padding-bottom: 0.5rem;
}
a{
    color: white;
    text-decoration: none;
}